/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ***** COLORS ***** */
$header_color: #e74c3c;
$main_bg_color: #ecf0f1;
/* ***** ****** ***** */

/* ***** MIXINS ***** */
@mixin fill_absolute() {
	left: 0;
	right: 0;
}

@mixin top_fill_absolute() {
	top: 0;
	@include fill_absolute();
}

@mixin header_and_footer() {
	color: white;
	height: 30px;
	padding: 10px 100px;
	@include top_fill_absolute();
	background-color: $header_color;
}
/* ***** ****** ***** */

html, body {
	height: 100%;
}

body {
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: $main_bg_color;
}

header {
	@include header_and_footer();

	h1 {
		margin: 0;
		display: none;
	}

	nav {
		margin-top: 5px;
		float: right;

		a, a:visited {
			color: white;
			padding: 10px 20px;
			border-radius: 50px;
			text-decoration: none;
			background-color: #c0392b;

			&:hover {
				background-color: rgba(0, 0, 0, 0.4);
			}
		}
	}
}

main {
}

footer {
	@include header_and_footer();
	text-align: center;

	a, a:visited {
		color: white;
	}
}